<?xml version="1.0"?>
<configuration>
  <configSections>
    　<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="WeixinPF.Application">
    <components>
      <component type="WeixinPF.Infrastructure.Weixin.WxUserRepository, WeixinPF.Infrastructure" service="WeixinPF.Application.Weixin.Repository.IWxUserRepository" />
    </components>
  </autofac>
</configuration>