<?xml version="1.0"?>
<configuration>
  <configSections>
    　<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="WeixinPF.Application">
    <components>
      <component type="WeixinPF.Infrastructure.Agent.AgentRepository, WeixinPF.Infrastructure"
                  service="WeixinPF.Application.Agent.Repository.IAgentRepository" />

      <component type="WeixinPF.Infrastructure.Agent.ManagerBillRepository, WeixinPF.Infrastructure"
                  service="WeixinPF.Application.Agent.Repository.IManagerBillRepository" />

      <component type="WeixinPF.Infrastructure.Agent.ManagerInfoRepository, WeixinPF.Infrastructure"
                  service="WeixinPF.Application.Agent.Repository.IManagerInfoRepository" />

      <component type="WeixinPF.Infrastructure.Agent.ManagerLogRepository, WeixinPF.Infrastructure"
                  service="WeixinPF.Application.Agent.Repository.IManagerLogRepository" />

      <component type="WeixinPF.Infrastructure.Agent.ManagerRoleRepository, WeixinPF.Infrastructure"
                  service="WeixinPF.Application.Agent.Repository.IManagerRoleRepository" />

      <component type="WeixinPF.Infrastructure.Weixin.AppInfoRepository, WeixinPF.Infrastructure"
                 service="WeixinPF.Application.Weixin.Repository.IAppInfoRepository" />

      <component type="WeixinPF.Infrastructure.Weixin.User.UserRepository, WeixinPF.Infrastructure"
                 service="WeixinPF.Application.Weixin.User.Repository.IUserRepository" />

      <component type="WeixinPF.Infrastructure.Weixin.Token.AccessTokenRepository, WeixinPF.Infrastructure"
                 service="WeixinPF.Application.Weixin.Token.Repository.IAccessTokenRepository" />

      <component type="WeixinPF.Infrastructure.Weixin.Token.JsApiTicketRepository, WeixinPF.Infrastructure"
                 service="WeixinPF.Application.Weixin.Token.Repository.IJsApiTicketRepository" />
    </components>
  </autofac>
</configuration>